<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-4.2.xsd">
    <bean id="subjectImpl1" class="spring.aop.spring.xml.SubjectImpl"/>
    <bean id="subjectImpl2" class="spring.aop.spring.xml.SubjectImpl"/>
    <bean id="permissionVerification" class="spring.aop.spring.xml.PermissionVerification"/>
    <aop:config>
        <aop:aspect id="do" ref="permissionVerification">
            <aop:pointcut id="point" expression="execution(* spring.aop.spring.xml.Subject.*(..))"/>
            <aop:before method="canLogin" pointcut-ref="point"/>
            <aop:after method="saveMessage" pointcut-ref="point"/>
            <aop:around method="around" pointcut-ref="point"/>
        </aop:aspect>
    </aop:config>
</beans>